<!DOCTYPE html>
<html>
  <head>
    <title>simple-webterminal</title>
  </head>
  <body>
   <canvas id="terminal" width="300" height="200">
      Your browser does not support the canvas element.
    </canvas>
   <script type="text/javascript" src="/webterm.js"></script>
  </body>
</html>
